 {% block interests %}
    <!-- ======= Интересы ======= -->
    <div class="interests container">

      <div class="section-title">
        <h2>Профессиональные интересы</h2>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-slideshow-line" style="color: #e361ff;"></i>
            <h3>Веб-дизайн</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-server-line" style="color: #ffa76e;"></i>
            <h3>Бэкенд</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-hammer-line" style="color: #4233ff;"></i>
            <h3>Железо</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-computer-line" style="color: #b20969;"></i>
            <h3>Фронтенд</h3>
          </div>
        </div>
      </div>
    </div><!-- конец раздела -->
  </section><!-- конец секции Резюме -->
{% endblock %}  